* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {

  background-image: url('images/sakura.gif');
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
  padding: 80px 10px;
}
 

.container {
  width: 100%;
  max-width: 850px; 
  display: flex;
  justify-content: center;
  z-index: 1;
}
 

.page-a4 {
  width: 100%;
  aspect-ratio: 200 / 460; 
  background-color: rgb(223, 248, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  font-family: "Pixelify Sans", sans-serif;
}
 



.objet {
  position: absolute;
  top: 21%;        
  left: 9%;       
  font-family: "Pixelify Sans", sans-serif;
font-size: clamp(1.2rem, 3vw, 1.82rem);
  font-weight: 700;
  color: rgb(44, 18, 162);
  max-width: 80%;
  z-index: 9;
  text-align: left; 
}
 

 
.text {
  position: absolute;
  top: 27%;       
  left: 6%;       
  font-family: "Pixelify Sans", sans-serif;
 font-size: clamp(1rem, 2.5vw, 1.44rem);
  font-weight: 700;
 color: rgba(36, 24, 205, 0.628); 
  width: 87%;
  max-width: 200%;
  z-index: 10;
  text-align: left; 
}

.nom {
  position: absolute;
  top: 2%;       
  left: 5%;       
  font-family: "Pixelify Sans", sans-serif;
  font-size: clamp(1.1rem, 2.8vw, 1.6rem);
  font-weight: 700;
 color: rgb(53, 53, 53);
  width: 50%;
  max-width: 200%;
  z-index: 9;
  text-align: left; 
}



.banner-blue {
  position: absolute;
  top: 15%;
  left: 22%;
  z-index: 10;
}

.logo {
  position: absolute;
  top: 4%;
  left: 30%;
  width: 100%;
  height: auto;
  z-index: 10;
}

.signature {
  position: absolute;
  bottom: 4%;
  left: 63%;
   width: 5%;
  height: auto;
  z-index: 10;
}


@media (max-width: 768px) {
  .contenu-page {
    grid-template-columns: 1fr; 
    gap: 1rem;
  }
}